<hr>
<section class="d-flex align-items-center bg-cover">
  <div class="header img d-flex justify-content-center">
      <img src="/assets/img/photo/faq.jpg" class="w-100" alt="F.A.Q.s">
  </div>
</section>
<!-- FAQ-->
<section>
  <div class="container">
    <div class="py-1">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-3 text-primary">Datos</h2>
          <h5>Que pasara con mis datos y mi contraseña de facebook?</h5>
          <p class="text-muted mb-4 text-justify">La aplicación <strong>nunca</strong> almacenará los datos proporcionados por Facebook. Esta información solo se leerá y transformará con un objetivo concreto: ofrecer recomendaciones acertadas al usuario sin la necesidad de cumplimentar el formulario completamente. Estas recomendaciones se producirán tras el examen de los datos que permitan un mejor conocimiento sobre el gusto y opiniones del usuario, facilitando así un servicio de mayor calidad. La finalidad última es mejorar la experiencia de adopción, ofreciendo perritos afines a su perfil para que disfrute al máximo creando así un círculo virtuoso.</p>
          <h5>Mis datos serán utilizados por terceros?</h5>
          <p class="text-muted mb-4 text-justify">No. Los datos proporcionados por usted serán tratados con la mayor confidencialidad. Estamos comprometidos con su privacidad y garantizamos que ninguna información personal o de otra índole será compartida con terceras entidades externas a nuestra organización. Ademas, implementaremos medidas de seguridad para evitar el filtrado indebido de los datos. Estamos comprometidos a proteger su información en todo momento, respetando las leyes y regulaciones pertinentes aplicables. Al proporcionarnos sus datos esta confirmando que ha sido debidamente informado sobre el tratamiento de la misma acorde al uso aquí descrito. </p>
        </div>
        <div class="col-md-6">
          <h2 class="mb-3 text-primary">Informacion de los Perros</h2>
          <h5>Tamaños de referencia</h5>
          <p class="text-muted mb-4"><img class="img-fluid mx-auto mb-6" src="assets/img/photo/faqs/sizeChart.jpg" ></p>
        </div>
      </div>
    </div>
    <div class="py-1">
      <h2 class="mb-3 text-primary">Quienes Somos?</h2>
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid mx-auto mb-6" src="assets/img/photo/faqs/grupoInv.jpg" >
        </div>
        <div class="col-md-6">
          <p class="text-muted mb-4 text-justify">
            Nuestro grupo de investigación de la prestigiosa Escuela Colombiana de Ingeniería "Julio Garavito", conformado por estudiantes de la Maestría en Ciencia de Datos, se ha propuesto el desafío de mejorar la adopción de mascotas, específicamente perros, a través del diseño de un innovador modelo de recomendación.
            <br>El objetivo de nuestro proyecto es facilitar la búsqueda y selección de la mascota ideal para aquellas familias que estén considerando adoptar un perro, al mismo tiempo que se promueve la adopción responsable y se reduce el abandono y maltrato animal.
            <br>Para lograrlo, estamos utilizando técnicas de inteligencia artificial y análisis de datos para crear un algoritmo de recomendación personalizado que tendrá en cuenta diferentes variables, como las preferencias y estilo de vida de la familia, las características y necesidades del perro, entre otros factores relevantes.
            <br>Estamos comprometidos con el bienestar de los animales y creemos que nuestro modelo de recomendación no solo mejorará la adopción, sino que también fomentará el cuidado responsable de las mascotas y contribuirá a la construcción de una sociedad más justa y solidaria.
            <br>En resumen, nuestro proyecto tiene como objetivo innovar en el proceso de adopción de perros mediante la implementación de un modelo de recomendación personalizado y eficiente, con el fin de mejorar el bienestar animal y fomentar la adopción responsable.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
